/* Base */

body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.home h1 {
  font-family: 'Josefin Slab', serif;
}

img {
  width: 80%;
}

.page {
  border-top: 5px solid #795548;
}

.bg-clean {
  background: none !important;
}

/* Bootstrap */

.bg-primary {
  background: #795548 !important;
}

.navbar-light .navbar-brand,
a {
  color: #795548;
}

a:focus,
a:hover {
  color: #5d4037;
}

